@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

#titulo_top{
    background-color:#8b6f1e;
    color: white;;
}

.titulo_secundario{
    background-color: #2F4F2F;
    color: white;
}

.rodape{
    text-align: center;
}

body{
    /*Topografia CSS*/
    background-color: rgb(0, 0, 0); /*Cor de fundo*/
    color: rgb(255, 255, 255); /*Cor da fonte*/
    font-family: "Roboto", sans-serif;/*Fonte de texto*/
    font-size: 16px;/*Tamanho da fonte -px/em/rem*/
}

#layout{
    font-size: 1em; /*Herda o tamanho do pai dele(no nosso caso o body) com um multiplicador*/
    display: flex;
    flex-direction: column; /*Usado para definir a direção dos elementos que são filhos de um display flex*/
    font-style: normal; /*Estilo da fonte: italic - normal - oblique*/
    line-height: 30px; /*Espaçamento de linhas*/
    font-weight: 400; /*Negrito em CSS 100 a 900 bold e bolder*/
    text-transform: none; /*Capitalização de texto: uppercase - lowercase e capitalize*/
    text-decoration: none; /*Sublinhado de texto: double - dashed - dotted - wavy - none*/
    word-spacing: 5px; /*Espaçamento entre palavras*/
    letter-spacing: none; /*Espaçamento entre letras*/
    text-indent: 20px; /*Espaçamento de paragrafo primeira linha*/
    text-align: justify; /*Alinhamento de texto: left - right - justify e center*/

    /*border-style: dashed; Estilo da borda: solid, dashed, dotted, double, groove, inset, outset
    border-width: 5px; Espessura da borda
    border-color: rgb(52, 235, 164); Cor da borda*/
    border: dashed 5px rgb(52, 235, 164); /*Definir estilo, espessura e cor da borda numa mesma linha*/
    border-top: dotted 10px purple;
    border-left: dotted 20px red;
    border-bottom: solid 15px #fff000;
    /*border-right: Estilizar o lado direito da borda*/
    border-radius: 50px; /*Arredondar cantos da borda - px / %*/

    margin: 20px; /*Margem do lado de FORA da borda*/
    margin-left: 20px ; /*Margem a esquerda FORA da borda*/
    margin-right: 20px ; /*Margem a direita FORA da borda*/
    margin-bottom: 20px ; /*Margem de baixo FORA da borda*/
    margin-top: auto; /*Margem de cima FORA da borda*/

    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

nav a{
    text-decoration: none;
}

/*.teste_display {
    background-color: orange;
    display: inline-block;
    width: 200px;
} */

#teste_estilo_lista_ul{
    list-style-type: none;/*disc, circle, none defini o estilo de marcador de lista nao ordenada(UL) */

}

#teste_estilo_lista_ol{
    /*list-style-type: upper-alpha;/*decimal - lower-roman - upper-roman - lower-greek - lower-alpha - upper-alpha - define o estilo de marcadores de listas ordenadas(OL)*/
    list-style-image: url(img/seta_direita_vermelha.png) ;

}

li{
    border: solid 3px orange;
    list-style-position: outside;/*ele serve para dizer ao navegador se o marcador da lista faz parte ou nao do texto da lista: inside e outside*/
    
}

#impacto{
    /*background: url(img/senhordosaneis_fundo.jpg) no-repeat; resume a imagem de fundo e repetiçao em uma linha*/
    background-image: url(img/senhordosaneis_fundo.jpg);/*Carrega imagem ao fundo do elemento html*/
    background-repeat: no-repeat;/*repeat - no-repeat - repeat-y - repeat-x Configura a forma como a imagem ira repetir ao fundo do elemento html*/
    /*background-position: center;/*left, right, top, bottom, center
    width: 2000px;
    height: 1500px;*/
    background-size: cover;/*Serve para definir como a imagem será exibida ao fundo do elemento html - contain - cover - px - % - auto*/
    background-attachment: fixed;/*Define como a imagem vai lidar com o scroll ao fundo do elemento html - scroll e fixed*/
    text-shadow: 3px 3px 2px red;/*Define a sombra do texto*/
    
}

.noticia{
    border: solid 3px white;
    width: 200px;
    position: fixed; /*Define o posicionamento atras ou na frente dos elementos html: fixed, relative, absolute e static*/
    height: 100px;
    overflow: auto;/*trata o comportamento de quando por exemplo um texto passa das bordas de um elemento html (da um overflow )visible - hidden -scroll - auto;*/
    box-shadow: 3px 3px 3px 3px orange;/*Define a sombra de um elemento html do bloco*/
}

.um{
    background-color: blue;
    top: 0px;
    left: 50px;
    z-index: 3; /*Define a ordem que o elemento vai ficar uns atras dos outros*/
}

.dois{
    background-color: red;
    top: 100px;
    left: 150px;
}

.tres{
    background-color: green;
    top: 200px;
    left: 250px;
}
